body {
  height: 80vh;
  display: grid;
  align-items: center;
}

#btnBook {
  width: 200px;
  height: 50px;
  font-size: 20px;
  justify-self: center;
}

#bookshelf {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;
  width: 80%;
  padding: 1rem;
  gap: 1rem;
}

div {
  justify-self: center;
  padding: 1rem;
  color: rgb(255, 0, 0);
  background-color: bisque;
  width: 200px;
}

#bookshelf > div {
  border: 1px black solid;
}
